.gif {
    display:inline-block;
    margin: 10px 10px 10px 10px;
    
}
.img {
    border-radius: 15px;
}
#gifs {
    margin: 0 100px 0 100px;
    border-radius: 10px;
    background:rgba(206, 227, 255, 0.9);;
}

#gif-form {
    margin: 2% 0 5% 35%;
}

.gif-btn {
    
    border-radius: 10px;
    margin: 10px;
    
}

#gifButtons {
    background:rgba(126, 127, 127, 0.8);
    margin-left: 15%;
    margin-right: 20%;
    border-radius: 5px;
    padding-bottom: 2%;
}

body {
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 1536px 735px;
}